.moviesCardList {
    box-sizing: border-box;
    width: 100%;
    padding: 70px 70px 80px 70px;
    background-color: #202020;
}

@media screen and (max-width: 900px) {
    .moviesCardList {
        padding: 70px 30px 80px 30px;
    }
}

@media screen and (max-width: 750px) {
    .moviesCardList {
        padding: 40px 10px 80px 10px;
    }
}

.moviesCardList__elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 37px 24px;
}

@media screen and (max-width: 900px) {
    .moviesCardList__elements {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 750px) {
    .moviesCardList__elements {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}
.moviesCardList__button-container {
    padding-top: 70px;
}
.moviesCardList__button {
    width: 100%;
    height: 36px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #2f2f2f;
    border-radius: 6px;
    text-align: center;
    color: white;
    font-size: 12px;
}
