.moviesCard {
    background-color: #222222;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    #hidden {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .moviesCard {
        width: 339px;
        margin: auto;
    }
}

@media screen and (max-width: 375px) {
    .moviesCard {
        width: 100%;
        margin: auto;
    }
}

.moviesCard__image {
    width: 100%;
    height: 203px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.moviesCard__description {
    padding: 16px;
}
.moviesCard__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.moviesCard__text {
    font-size: 13px;
    margin: 0;
}
@media screen and (max-width: 375px) {
    .moviesCard__text {
        font-size: 12px;
    }
}

.moviesCard__duration {
    font-size: 11px;
    margin: 17px 0 0 0;
    color: #8b8b8b;
}

@media screen and (max-width: 375px) {
    .moviesCard__duration {
        font-size: 10px;
    }
}
