.profile {
    box-sizing: border-box;
    padding-top: 125px;
    width: 100vw;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__title {
    font-size: 24px;
    margin-bottom: 80px;
}

.profile__form {
    width: 48.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .profile__form {
        width: 85%;
    }
}

.profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.profile_container:first-child {
    border-bottom: 1px solid #424242;
    padding-bottom: 16px;
}

.profile_container:last-of-type {
    margin-bottom: 220px;
}

@media screen and (max-width: 500px) {
    .profile_container:last-of-type {
        margin-bottom: 345px;
    }
}
.profile__name-input {
    font-size: 11px;
}

.profile__input {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: end;
    color: white;
    font-family: Inter;
    font-size: 14px;
}

.profile__buttom {
    width: 130px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
}

.profile__link {
    margin-top: 16px;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: #ee3465;
}
