.profile {
    box-sizing: border-box;
    padding-top: 125px;
    height: 100vh;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__title {
    font-size: 24px;
    margin-bottom: 80px;
}

.profile__form {
    width: 48.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .profile__form {
        width: 85%;
    }
}

.profile_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.profile_container:first-child {
    border-bottom: 1px solid #424242;
    padding-bottom: 16px;
}

.profile__name-input {
    font-size: 11px;
}

.profile__input {
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: end;
    color: white;
    font-family: Inter;
    font-size: 14px;
}

.profile__button {
    margin-top: 345px;
    width: 130px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 13px;
    margin: auto;
    transition: opacity 0.4s;
}

.profile__button:hover {
    opacity: 0.6;
}

.profile__link {
    margin-top: 16px;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    color: #ee3465;
    transition: color 0.4s;
}

.profile__link:hover {
    color: #ff0000;
}

.profile__button_type_disabled {
    margin-top: 345px;
    width: 130px;
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: auto;
    font-size: 13px;
    color: #000;
}
